.header{
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
}

#name{
    font-family:sans-serif;
    color:purple;
}

#subtitle{
    font-family:Arial, Helvetica, sans-serif;
    color: blueviolet;
}
body{
    background-color:black;
}

#me{
    text-align:center;
}

.about{
    padding: 1px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    margin-bottom: 20px;
}
#projects{
    text-align: center;
}

.projects{
    padding: 1px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
}
#contact{
    text-align: center;
}

.contact{
    padding: 1px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
}