.header{
    background-color: black;
    text-align: center;
}

#name{
    font-family:sans-serif;
    color:purple;
}

#subtitle{
    font-family:Arial, Helvetica, sans-serif;
    color: blueviolet;
}
body{
    background-color:black;
}

.about{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
}

.projects{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.contact{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}